---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout>
  <div class="Why-container">
    <header>
      <h1>WHY</h1>
    </header>
    <p>
      This website is part of an ongoing project that researches how sexual
      violence is visualized—specifically the stock photos and illustrations
      used in articles on the subject in national and regional newspapers,
      primarily in the Netherlands and Sweden. These images tend to fall into a
      limited set of recurring visual themes:
    </p>
    <ul>
      <li>A hand gripping a wrist</li>
      <li>The "stop" hand</li>
      <li>A groping hand</li>
      <li>A silenced mouth</li>
    </ul>
    <p>
      Individually, these images might not be harmful. But when they become the
      only visuals that accompany stories about sexual violence, they begin to
      shape a narrow and problematic narrative.
    </p>

    <h2>WHY IS THAT A PROBLEM?</h2>
    <p>
      Writer Chimamanda Ngozi Adichie coined the term the danger of a single
      story. She describes how exposure to only one perspective—whether in
      books, media, or images—can distort our understanding and limit our
      empathy. As a child in Nigeria, Adichie only read stories about white
      children drinking ginger beer and talking about the weather. She assumed
      that was what books were supposed to be about. That’s the power of
      repetition—it defines what we think is normal, expected, or true.
    </p>
    <p>
      When it comes to sexual violence, mainstream media typically tells a
      single story too. And it’s often from the perspective of the perpetrator.
    </p>
    <p>
      In the images, the victim is nearly always shown—usually in a defensive
      pose—while the perpetrator is either absent or reduced to a shadowy hand.
      In some cases, the viewer is even placed in the perspective of the
      perpetrator. These depictions also subtly suggest that the victim had some
      agency to stop it: the raised hand, the act of resistance. But in reality,
      many survivors are frozen, shocked, or powerless to act.
    </p>
    <p>
      This narrow portrayal contributes to the myth of the "ideal
      victim"—someone who fights back, someone who fits a certain profile. It
      reinforces stereotypes that sexual assault only looks one way: the
      stranger in the bushes, the dramatic attack. But in reality, sexual
      assault is often far more ordinary and insidious:
    </p>
    <ul>
      <li>a trusted friend</li>
      <li>a family member</li>
      <li>a partner</li>
      <li>catcalling</li>
      <li>unwanted touching in public</li>
      <li>coercion under the influence</li>
    </ul>
    <p>And yes, sometimes it is the man in the bushes. It’s not one thing.</p>
    <p>
      To truly support survivors, we need to recognize and represent the full
      complexity of these experiences.
    </p>

    <h2>MAKING THE COMPLEXITY VISIBLE</h2>
    <p>
      I, Jonna Bo Lammers, believe that this narrative must change. The current
      visual language surrounding sexual violence is reductive and harmful.I
      believe illustration can offer something different. It has the power to
      depict not just actions, but emotions, internal states, and
      complexity—things traditional media images fail to capture.
    </p>

    <p>
      With this website, I aim to challenge the dominant imagery and offer a
      counter-visual story. One that does not flatten survivors’ experiences
      into clichés. One that offers empathy, nuance, and recognition. This is
      just the beginning—a visual pushback against the harm done by a single
      story!
    </p>
    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/f_KNWp0u6Uw"
        frameborder="0"
        allowfullscreen></iframe>
      <dialog>
        <h3>Accept cookies to watch YouTube video</h3>
        <p>
          This website uses YouTube to play a video. YouTube uses cookies to
          track your behavior. If you want to watch the video on this website,
          you need to accept the cookies.
        </p>
        <div class="button-container">
          <button onclick="acceptCookies()">Accept cookies</button>
          <button onclick="declineCookies()">Decline cookies</button>
        </div>
      </dialog>
    </div>
    <h2>HOW DID THIS PROJECT START</h2>
    <p>
      I started this project because of something that happened to me on the
      metro in Stockholm. I was sitting in a four-seater, and a man across from
      me was intensely watching me. I was finishing up my Swedish homework, so I
      shoved my face back into my books. But every time I looked up, he was
      still staring. The last time I glanced up, I saw he was still fixated on
      me—and masturbating. A wave of adrenaline hit, and I immediately went into
      flight mode. I stood up, nearly dropped my books, and ran to the other end
      of the train. I vaguely looked back, hoping someone would intervene or say
      something—but I don’t think anything happened. I got off a stop early and
      ran to my Swedish class. I tried to talk to a friend from class about it,
      but our teacher interrupted and started the lesson. I pushed the whole
      thing to the back of my mind and tried to concentrate. I remember not
      being able to take the metro home afterward.
    </p>
    <p>
      The next morning, I still couldn’t enter the metro. I felt the ghost of
      him sitting there. And yet, despite all the signs of trauma, I couldn’t
      acknowledge what had happened as sexual assault. I’ve experienced sexual
      assault before—I know how to recognize it, how to deal with it. So why
      didn’t I see this for what it was? After some time and good conversations,
      I realized: because he didn’t touch me, I thought it didn’t “count.” It
      didn’t feel “real.” Where did that idea come from?
    </p>
    <p>
      Around the same time, I was working on an illustration for a crowdfunding
      campaign for a documentary about the aftermath of sexual assault. As
      always, I researched how this topic has been visualised before—I like to
      understand the visual language that already exists. I looked at countless
      images accompanying articles about sexual assault in Dutch and Swedish
      media. Headlines like: “Study: 1 in 3 women has experienced sexual
      assault” or “Man assaults woman on the streets in Älvsjö.” And I started
      to notice patterns.
    </p>
    <p>
      First: touch. It was everywhere. That explained my own response—I had
      internalized the idea that assault = physical touch. Second: the victim
      was almost always portrayed as a white woman, and the perpetrator as a
      white man.
    </p>

    <p>
      Then, more subtle patterns emerged. The survivor is almost always
      shown—but not the assaulter. In many cases, the viewer is even placed in
      the point-of-view of the assaulter. Sometimes subtly, sometimes
      disturbingly explicitly. POV: you are assaulting someone. And there’s such
      an overwhelming emphasis on the act of saying no. This is deeply
      problematic. It implies that if you didn’t say no—maybe it wasn’t really
      assault. As if consent is only valid when verbally and forcefully stated.
      Sexual assault is already a topic riddled with guilt; these images only
      deepen that burden for survivors. More and more, I saw the same motifs
      repeated: the hand, the stop gesture, the shadowy threat.
    </p>
    <p>
      The thing is, these images aren’t inherently bad. But their repetition
      creates a single narrative. One truth. And I’m missing so much colour—both
      figuratively and literally.
    </p>
    <h2>ABOUT THE CREATORS</h2>
    <article>
      <h3>JONNA BO</h3>
      <p>
        I am a Dutch illustrator that works frequently with feminist topics such
        as sexual violence, sexism, and other sex positive topics. This website
        is part of my masters project at Konstfack in Stockholm, visual
        communication.
      </p>
      <address>
        <div>
          <a href="https://www.instagram.com/jonnabolammers/">@jonnabolammers</a
          > /
          <a href="https://www.instagram.com/vaaf.nl/">@vaaf.nl</a>
        </div>
        info@jonnabo.nl
      </address>
    </article>
    <article>
      <h3>ROGIER DE RUIJTER</h3>
      <p>
        Is a Dutch Web Developer based in Amsterdam. Through his work, he tries
        to make the web and the world a more accessible and inclusive place.
      </p>
      <address>
        <div>
          <a href="https://www.instagram.com/rogierderuiter/">@rogierderuiter</a> /
        <a href="https://www.rogierderuiter.com">rogierderuiter.com</a>
        </div>
        rogierderuijter@icloud.com
      </address>
    </article>
  </div>
  <script>
    const observer = new MutationObserver((mutations) => {
      mutations.forEach((mutation) => {
        if (mutation.type === "attributes") {
          if (mutation.attributeName === "data-cookie-accepted") {
            const value = mutation.target.dataset.cookieAccepted === "true";
            document.cookie = `cookiesAccepted=${value}; max-age=31536000`;

            if (value) {
              document.querySelector("iframe")?.setAttribute("data-show", "");
            }

            toggleCookiewall(false);
          }
        }
      });
    });

    observer.observe(document.body, {
      attributes: true,
      attributeFilter: ["data-cookie-accepted"],
    });

    const match = document.cookie.match(/cookiesAccepted=(true|false)/);

    if (match) {
      document.body.setAttribute("data-cookie-accepted", match[1]);
    } else {
      toggleCookiewall(true);
    }

    function toggleCookiewall(shouldShow: boolean) {
      shouldShow
        ? document.querySelector("dialog")?.setAttribute("data-show", "")
        : document.querySelector("dialog")?.removeAttribute("data-show");
    }
  </script>

  <script is:inline>
    function acceptCookies() {
      document.body.setAttribute("data-cookie-accepted", "true");
    }

    function declineCookies() {
      document.body.setAttribute("data-cookie-accepted", "false");
    }
  </script>
</SiteLayout>
<style>
  .Why-container {
    max-width: 65ch;
    margin: 0 auto;
    margin-trim: block;
  }

  .video-container {
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  iframe {
    display: none;
    width: 100%;
    height: 100%;
  }

  iframe[data-show] {
    display: block;
  }

  dialog[data-show] {
    display: block;
  }

  dialog {
    max-width: 50ch;
    border: 1px solid black;
    padding: 1rem;
    margin-trim: block;
    margin: 0;
    position: static;
  }

  dialog::backdrop {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
    animation: fade-in 1s;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  address {
    display: flex;
    flex-direction: column;
  }

  p {
    margin-block: 1lh;
  }
</style>
