---
interface Props {
  name: string;
}

const { name, ...rest } = Astro.props;
---

<a class="DownloadButton" href={`/assets/${name}_2400px.jpg`} download={name} {...rest}>
  <svg viewBox="0 0 24 24" width="24" height="24">
    <path
      d="m12 17.5-6.875-6.875L7.05 8.63125l3.575 3.57505V1h2.75v11.2063l3.575-3.57505 1.925 1.99375L12 17.5ZM3.75 23c-.75625 0-1.40365-.2693-1.94219-.8078C1.26927 21.6536 1 21.0063 1 20.25v-4.125h2.75v4.125h16.5v-4.125H23v4.125c0 .7563-.2693 1.4036-.8078 1.9422-.5386.5385-1.1859.8078-1.9422.8078H3.75Z"
    ></path>
  </svg>
  <slot />
</a>

<style>
  .DownloadButton {
    display: flex;
    right: 0.5rem;
    bottom: 0.5rem;
    height: 50px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    color: var(--text-color-light);
    background-color: rgb(84, 202, 132);
    padding-inline: 0.5rem;
    gap: 0.5rem;
  }

  .DownloadButton:hover {
    background-color: rgb(50, 172, 100);
  }

  .DownloadButton svg {
    fill: var(--text-color-light);
  }
</style>
