---
import DownloadIcon from "./DownloadIcon.astro";

interface Props {
  name: string;
}

const { name, ...rest } = Astro.props;

const href = `/assets/${name}_2400px.jpg`;
---

<a class="DownloadButton" href={href} download={name} {...rest}>
  <DownloadIcon />
  <slot />
</a>

<style>
  .DownloadButton {
    --__background-color: rgb(84, 202, 132);
    display: flex;
    right: 0.5rem;
    bottom: 0.5rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    color: var(--text-color-light);
    padding: 0.75rem 1rem;
    gap: 0.5rem;
    background-color: var(--__background-color);
  }

  .DownloadButton:hover {
    background-color: rgb(50, 172, 100);
  }

  .DownloadButton :global(svg) {
    fill: var(--text-color-light);
  }
</style>
