---

---

      <header class="HeroHeader_hero">
        <div class="HeroHeader_content">
          <h1
            class="Text_text__D8yqX Text_size-h49__TD6VW Text_size-h39-mobile__D_FKh Text_color-whiteFFFFFF__LuhCQ spacing_noMargin__F5u9R"
            style="
                font-family: BigShoulders, Oswald, sans-serif;
                line-height: 1.8;
              "
          >
            The best free stock images of sexual violence, because
            <a
              href="https://www.istockphoto.com/se/search/2/image-film?phrase=sexual%20violence"
              >these</a
            >
            ones are reducing, harmful and wrong
          </h1>
          <form
            role="search"
            autocomplete="off"
            class="SearchBar_form__SelOc spacing_noMargin__F5u9R spacing_mt30__MAo08"
          >
            <div class="SearchInput_container">
              <button class="Button_button" type="button">Photos</button>
              <input
                class="SearchInput_input"
                id="search"
                autocapitalize="none"
                data-testid="search-input"
                placeholder="Search for free images"
                type="search"
                value="Sexual violence"
              />
            </div>
          </form>
        </div>
      </header>
