---

---

<div class="HeroHeader_hero">
  <div class="HeroHeader_content">
    <hgroup class="HeroHeader-group">
      <h1>Free stock images of sexual violence</h1>
      <p class="HeroHeader_subtitle">
        because
        <a
          class="HeroHeader_link"
          href="https://www.istockphoto.com/se/search/2/image-film?phrase=sexual%20violence"
          >the ones we know</a
        >
        are reductionistic and harmful
      </p>
    </hgroup>
  </div>
</div>
<style>
  .HeroHeader_hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-light);
    background-color: var(--background-color-dark);
    padding-block-end: 80px;
    min-height: 20vh;
    font-size: 1rem;
  }

  .HeroHeader_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 var(--container-inline-padding);
  }

  h1 {
    font-family: BigShoulders, Oswald, Arial, sans-serif;
    line-height: 1.5;
    font-size: 2.5em;
    margin-bottom: 1rem;
    text-box: trim-both cap alphabetic;
  }

  .HeroHeader_subtitle {
    font-size: 1em;
    margin: 0;
    font-weight: bold;
  }

  a {
    --anchor-color: rgb(230, 30, 20);

    text-decoration: underline;
    text-decoration-thickness: 0.125rem;
    text-decoration-color: var(--anchor-color);

    display: inline-block;
    text-underline-offset: 0.25rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  a,
  a:visited,
  a:hover {
    color: var(--anchor-color);
  }

  a:hover {
    text-decoration-color: transparent;
  }

  @media (min-width: 768px) {
    .HeroHeader_hero {
      font-size: 1.25rem;
    }

    .HeroHeader-group {
      text-align: center;
    }

    h1 {
      font-size: 2.5em;
    }

    .HeroHeader_subtitle {
      font-size: 1em;
    }
  }
</style>
