---
import DownloadButton from "./DownloadButton.astro";
---

<div class="HeroHeader">
  <div class="HeroHeader_hero">
    <div class="HeroHeader_content">
      <hgroup class="HeroHeader-group">
        <h1>Free stock images of sexual violence</h1>
        <p class="HeroHeader_subtitle">
          because
          <a
            class="HeroHeader_link"
            href="https://www.istockphoto.com/se/search/2/image-film?phrase=sexual%20violence"
            >the ones we know</a
          >
          are unempathetic and harmful
        </p>
      </hgroup>
    </div>
  </div>
</div>
<style>
  .HeroHeader_hero {
    color: var(--text-color-light);
    background-color: var(--background-color-dark);
    padding: 6rem 0 2rem;
    font-size: 1rem;
  }

  .HeroHeader_content {
    padding: 0 var(--container-inline-padding);
  }

  .DownloadButton {
    width: fit-content;
    margin: 2rem 0 0;
  }

  h1 {
    font-family: Oswald, Arial, sans-serif;
    line-height: 1.5;
    font-size: 1.75em;
    margin: 0 0 0.75em;
    text-box: trim-both cap alphabetic;
  }

  .HeroHeader_subtitle {
    font-size: 1em;
    margin: 0;
    font-weight: 400;
    text-box: trim-both cap alphabetic;
  }

  h1 {
    text-wrap: balance;
    text-wrap: pretty;
  }

  .HeroHeader_link {
    --anchor-color: rgb(148, 192, 255);
    text-decoration: underline;
    text-decoration-thickness: 0.125rem;
    text-decoration-color: var(--anchor-color);

    display: inline-block;
    text-underline-offset: 0.25rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .HeroHeader_link,
  .HeroHeader_link:visited,
  .HeroHeader_link:hover {
    color: var(--anchor-color);

    /* background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  }

  a:hover {
    text-decoration-color: transparent;
  }

  @media (min-width: 768px) {
    .HeroHeader_hero {
      font-size: 1.25rem;
      padding: 6rem 0 2rem;
    }

    .HeroHeader-group {
      text-align: center;
    }

    h1 {
      font-size: 2.5em;
      margin: 0 0 0.5em;
    }

    .HeroHeader_subtitle {
      font-size: 1em;
      font-weight: 700;
    }

    .DownloadButton {
      margin: 2rem auto 0 auto;
    }
  }
</style>
