---

---

<div class="HeroHeader_hero">
  <div class="HeroHeader_content">
    <hgroup style="text-align: center">
      <h1>Free stock images of sexual violence</h1>
      <p class="HeroHeader_subtitle">
        because
        <a
          class="HeroHeader_link"
          href="https://www.istockphoto.com/se/search/2/image-film?phrase=sexual%20violence"
          >the ones we know</a
        >
        are reductionistic and harmful
      </p>
    </hgroup>
  </div>
</div>
<style>
  .HeroHeader_hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-light);
    background-color: var(--background-color-dark);
    padding-block-end: 80px;
    min-height: 20vh;
    font-size: 1rem;
  }

  @media (min-width: 768px) {
    .HeroHeader_hero {
      font-size: 1.5rem;
    }
  }

  .HeroHeader_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1em;
  }

  h1 {
    font-family: BigShoulders, Oswald, Arial, sans-serif;
    line-height: 1.5;
    letter-spacing: -0.02em;
    font-size: 3em;
    margin-bottom: 1rem;
    text-box: trim-both cap alphabetic;
  }

  .HeroHeader_subtitle {
    font-size: 1em;
  }

  a {
    text-decoration: underline;
    text-decoration-thickness: 0.125rem;
    border-bottom: 0.125rem solid;
    text-decoration-color: rgb(26, 13, 171);
    border-bottom-color: rgb(26, 13, 171);
    display: inline-block;
    text-underline-offset: 0.25rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  a:visited {
    color: var(--text-color-light);
  }

  a:hover {
    color: var(--text-color-light);
  }
</style>
