---

---

<div class="HeroHeader_hero">
  <div class="HeroHeader_content">
    <h1>
      The best free stock images of sexual violence. 
      because
      <a
        class="HeroHeader_link"
        href="https://www.istockphoto.com/se/search/2/image-film?phrase=sexual%20violence"
        >these</a
      >
      ones are reductionist and harmful
    </h1>
    <form
      role="search"
      autocomplete="off"
      class="SearchBar_form__SelOc spacing_noMargin__F5u9R spacing_mt30__MAo08"
    >
      <div class="SearchInput_container">
        <button class="Button_button" type="button">Photos</button>
        <input
          class="SearchInput_input"
          id="search"
          disabled
          autocapitalize="none"
          data-testid="search-input"
          placeholder="Search for free images"
          type="search"
          value="Sexual violence"
        />
      </div>
    </form>
  </div>
</div>
<style>
  .HeroHeader_hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-light);
    background-color: var(--background-color-dark);
    padding-block-end: 80px;
    min-height: 50vh;
    font-size: 0.8rem;
  }

  @media (min-width: 768px) {
    .HeroHeader_hero {
      font-size: 1rem;
    }
  }

  .HeroHeader_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 630px;
    padding: 0 1em;
  }

  .SearchInput_container {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    background: var(--background-color-light);
    border-color: var(--border-color-light);
    padding: 0.4em;
    font-weight: 500;
  }

  .Button_button {
    padding: 0.8em 0.7em 0.8em 0;
    border: 0;
    background: none;
    font-weight: inherit;
    font-size: 1.1em;
  }

  .Button_text {
    padding-inline: 24px;
  }

  .SearchInput_input {
    appearance: none;
    border: none;
    font-family: inherit !important;
    font-size: inherit;
    font-weight: inherit;
    outline: none;
    background: none;
  }

  .SearchInput_input:disabled {
    color: canvastext;
  }

  [type="search"]::-webkit-search-decoration,
  [type="search"]::-webkit-search-cancel-button {
    appearance: none;
  }

  h1 {
    font-family: BigShoulders, Oswald, Arial, sans-serif;
    line-height: 1.8;
    letter-spacing: -0.02em;
    font-size: 2.5em;
    margin-top: 0;
    text-box: trim-both cap alphabetic;
  }

  a {
    text-decoration: underline;
    text-decoration-thickness: 0.125rem;
    border-bottom: 0.125rem solid;
    text-decoration-color: rgb(26, 13, 171);
    border-bottom-color: rgb(26, 13, 171);
    display: inline-block;
    text-underline-offset: 0.25rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  a:visited {
    color: var(--text-color-light);
  }

  a:hover {
    color: var(--text-color-light);
  }
</style>
