---

const { ...rest } = Astro.props;

---

<div class="Navbar_container" {...rest}>
  <nav class="Wrapper_maxwidth">
    <div class="Navbar_left__e0nHg">
      <div style="display: flex; gap: 1rem; align-items: center">
        <a data-testid="next-link" class="Navbar_logo" href="/">
          <div
            style="font-size: 8px; display: flex; flex-direction: column; color: var(--text-color-light);"
          >
          <div class="title" style="font-weight: bold; font-size: 2.4em">BetterStock</div>
          <div class="subtitle" style="font-size: 1.4em">a project by Jonna Bo Lammers</div>
          </div>
        </a>
      </div>
    </div>
    <div class="Navigation-why">
      <a href="/why"> Why </a>
    </div>
  </nav>
</div>

<style>
  .Wrapper_maxwidth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 var(--container-inline-padding);
  }

  .Navbar_container {
    background-color: var(--background-color-dark);
    /* position: absolute;
    width: 100%; */
  }

  .Navbar_logo {
    text-decoration: none;
  }
</style>
