---
import Layout from "./Layout.astro";
import Navigation from "../components/Navigation.astro";
import Header from "../components/Header.astro";
---

<Layout>
  <Navigation />
  <header>
    <Header />
  </header>
  <main>
    <slot />
  </main>
</Layout>
